.calendar {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;

  padding: 1rem;
}

.calendar-header {
  padding: 1rem 0;
  color: var(--theme-color-secondary);
  font-size: var(--large-font-size);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  list-style: none;
}

.day-of-week {
  text-align: center;
  text-transform: capitalize;
  color: var(--theme-color-secondary);
  font-size: 0.75rem;
  line-height: var(--cell-size);

  height: var(--cell-size);
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.day {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--cell-size);
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  border-left: 1px solid rgba(0, 0, 0, 0.16);
}

.day:nth-child(7n + 8) {
  border-left: 0;
}

.day-of-month {
  text-align: end;
}

.price-of-day {
  margin: 0 2rem;
  box-shadow: var(--theme-color-highlight) 0px -2rem 0px inset;
  font-weight: 700;
  text-align: center;
}
