.wrapper {
  display: grid;
  row-gap: var(--base-row-gap);

  min-height: 100vh;
  padding: 2rem;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 90rem) {
  .wrapper {
    max-width: 1398px;
  }
}

.title {
}
