@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"),
    url("./theme/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: local("Roboto"), url("./theme/fonts/Roboto-Bold.ttf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  background: #fff;
}
